body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

nav {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 0px;
    box-shadow: 0 7px 9px 0px #d1d1d1;
}

nav ul {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-left: 5%;
    padding: 0;
}

nav ul li {
    margin-right: 30px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 30px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}

.nav_active {
    color: #ffffff;
    background-color: #ffad00;
}

.user {
    color: #555555;
    font-size: 18px;
    margin-right: 5%;
    cursor: pointer;
}

.user span {
    margin-right: 10px;
}

.wrapper {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    height: 100vh;
}

.wrapper.active {
    display: block;
}

.wrapper .user_content {
    position: absolute;
    top: 50px;
    right: 5%;
    background: white;
    width: 140px;
    box-shadow: 2px 2px 5px #333333;
}

.wrapper .user_content:hover {
    background: #fbfbfb;
}

.user_content ul {
    margin: 5px 0 5px 0 !important;
    padding: 0px !important;
}

.user_content li {
    color: #555555;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 0 10px 10px;
}

.user_content li:hover {
    background-color: #a1e8e9;
}