.container_wrapper {
    background: #e5e5e5;
    min-height: calc(100vh - 69px);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0px;
}

.row {
    margin-bottom: 10px;
}

.input {
    padding: 30px;
    background: white;
    box-shadow: 0 7px 9px 0px #d1d1d1;
}

.input input {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    background: white;
    border: 1px solid #727272;
}

textarea.warning {
    border-color: #ff6e6e;
}

.scrape_error {
    margin-top: 10px;
    color: #ff6e6e;
}

.scrape_btn {
    display: flex;
    justify-content: flex-end;
}

.scrape_btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 48px;    
    border-radius: 24px;
    background: #00dbde;
    border: none;
    outline: none;
    color: white;
}

.scrape_btn button svg {
    margin-right: 10px;
}

.dot {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    margin-right: 2px;
}

.loading.scrape_btn {
    cursor: not-allowed;
}

.loading.scrape_btn button {
    pointer-events: none;
}

.loading.scrape_btn button span, .loading.scrape_btn button svg {
    display: none;
}

.loading.scrape_btn button .dot {
    display: block;
}

.dot1 {
    animation: load 0.6s infinite alternate;
}

.dot2 {
    animation: load 0.6s infinite 0.2s alternate;
}

.dot3 {
    animation: load 0.6s infinite 0.4s alternate;
}

@keyframes load {
    0% {width: 8px; height: 8px;}
    100% {width: 13px; height: 13px;}
}

.result {
    background: white;
    margin-top: 25px;
    padding: 30px;
    box-shadow: 0 7px 9px 0px #d1d1d1;
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
  
.sortable li {
    position: relative;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
}

.sortable li img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: move;
}

.sortable li svg {
    position: absolute;
    top: 5px;
    right: 10px;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.control_photo {
    display: flex;
    flex-wrap: wrap;
}

.resize_image {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-bottom: 10px;
}

.resize_image button {
    background: #00dbde;
    color: white;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

.resize_image button svg {
    margin-right: 10px;
}

.resize_image input {
    padding: 15px;
    font-size: 14px;
    background: white;
    border: 1px solid #727272;
    height: 48px;
}

.upload_image button {
    height: 48px;
    background: #00dbde;
    color: white;
    border: none;
}

.upload_image button svg {
    margin-right: 10px;
}

.image_reorder .error {
    color: #ff6e6e;
    display: none;
}

.image_reorder .error.warning {
    display: block;
}

.title_jp {
    display: flex;
    flex-wrap: wrap;
}

.title_jp textarea {
    width: calc(100% - 130px);
}

.title_jp button  {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00dbde;
    color: white;
    border: none;
    margin-left: 10px;
    width: 120px;
}

.title_jp button svg {
    margin-right: 10px;
}

.loading.title_jp {
    cursor: not-allowed;
}

.loading.title_jp button {
    pointer-events: none;
}

.loading.title_jp button span, .loading.title_jp button svg {
    display: none;
}

.loading.title_jp button .dot {
    display: block;
}

.title_jp_error {
    color: #ff6e6e;
}

.title_en textarea {
    width: calc(100% - 129px);
}

.sku textarea {
    min-width: 228px;
    width: 50%;
    border: 1px solid #727272;
    transition: 0.4s;
}

.sku textarea.warning {
    border-color: #ff6e6e;
}

.item_category input {
    border: 1px solid #727272;
}

.item_specific {
    margin-top: 20px;
}

.item_specific .label {
    margin-bottom: 10px;
}

.item_specific .item_specific_input {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.item_specific .error {
    color: #ff6e6e;
    display: none;
    transition: 0.3s;
}

.item_specific .error.warning {
    display: block;
}

.item_specific_input input {
    font-size: 14px;
    border: 1px solid #727272;
    margin-right: 10px;
    padding: 15px 10px;
}

.item_specific_input button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 48px;
    background: #00dbde;
    color: white;
    border: none;
}

.item_specific_input button svg {
    margin-right: 10px;
}

.item_specific_input button.remove_all {
    background: #ff6e6e;
}

.loading.item_specific_input {
    cursor: not-allowed;
}

.loading.item_specific_input .get_item_specific {
    pointer-events: none;
}

.loading.item_specific_input .get_item_specific span, .loading.item_specific_input .get_item_specific svg {
    display: none;
}

.loading.item_specific_input .get_item_specific .dot {
    display: block;
}

.item_specific_error {
    color: #ff6e6e;
    margin-top: 5px;
}

.item_specific_category {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.item_specific_category input {
    font-size: 14px;
    border: 1px solid #727272;
    padding: 10px 10px;
    width: 120px;
}

.item_specific_category input.warning {
    border-color: #ff6e6e;
}

.item_specific_category button{
    height: 38px;
    background: #ff6e6e;
    color: white;
    border: none;
}

.item_specific_category button svg {
    margin-right: 10px;
}

.condition {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.condition .label {
    margin-right: 10px;
    width: 145px;
}

.condition_desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.condition_desc .label {
    margin-right: 10px;
    width: 145px;
}

.condition_desc textarea {
    width: calc(100% - 155px);
}

.templates {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.templates .label {
    width: 145px;
    margin-right: 10px;
}

.templates ul {
    width: calc(100% - 155px);
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.description textarea {
    width: 100%;
    height: 200px;
}

.control_description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.control_description button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    background: #00dbde;
    color: white;
    border: none;
}

.control_description button svg {
    margin-right: 10px;
}

.loading.control_description {
    cursor: not-allowed;
}

.loading.control_description .translate_description {
    pointer-events: none;
}

.loading.control_description .translate_description span, .loading.control_description .translate_description svg {
    display: none;
}

.loading.control_description .translate_description .dot {
    display: block;
}

.description_jp_error {
    color: #ff6e6e;
    margin: 10px;
}

.preview {
    display: flex;
    justify-content: flex-end;
}

.preview button {
    background: #00dbde;
    color: white;
    border: none;
}

.preview button svg {
    margin-right: 10px;
}

.sell_format {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.sell_format .label {
    width: 80px;
}

.price {
    display: flex;
    align-items: center;
}

.input_price {
    position: relative;
    width: calc(100% - 80px);
}

.input_price input {
    border: 1px solid #727272;
}

.input_price .unit {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #727272;
}

.input_price input {
    padding-left: 20px;
    max-width: 227px;
    width: 100%;
}

.price .label {
    width: 80px;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity .label {
    width: 80px;
}

.quantity input {
    border: 1px solid #727272;
    max-width: 227px;
    width: calc(100% - 80px);
}

.best_offer {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.best_offer .label {
    width: 180px;
}

.volume_pricing {
    display: flex;
    align-items: center;
}

.volume_pricing .label {
    width: 180px;
}

.control_volume {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.control_volume>div {
    margin-right: 20px;
}

.control_volume .label {
    margin-bottom: 10px;
}

.private_listing {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.private_listing .label {
    width: 180px;
}

.shipping_policy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.shipping_policy .label {
    width: 140px;
}

.shipping_policy select {
    max-width: 400px;
    width: 100%;
    border: 1px solid #727272;
    transition: 0.4s;
}

.shipping_policy select.warning {
    border-color: #ff6e6e;
}

.location {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.location .label {
    width: 140px;
    margin-bottom: 10px;
}

.country select {
    border: 1px solid #727272;
}

.city input {
    border: 1px solid #727272;
}

.return_policy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.return_policy .label {
    width: 140px;
}

.return_policy select {
    max-width: 400px;
    width: 100%;
    border: 1px solid #727272;
    transition: 0.4s;
}

.return_policy select.warning {
    border-color: #ff6e6e;
}

.payment_policy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.payment_policy .label {
    width: 140px;
}

.payment_policy select {
    max-width: 400px;
    width: 100%;
    border: 1px solid #727272;
    transition: 0.4s;
}

.payment_policy select.warning {
    border-color: #ff6e6e;
}

.add_item_error {
    color: #ff6e6e;
}

.save_export {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.save_export button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    background: #00dbde;
    color: white;
    border: none;
}

.save_export button svg {
    margin-right: 10px;
}

.save_export button:first-child {
    margin-right: 20px;
}

.loading.save_export {
    cursor: not-allowed;
}

.loading.save_export .add_item_btn {
    pointer-events: none;
}

.loading.save_export .add_item_btn span, .loading.save_export .add_item_btn svg {
    display: none;
}

.loading.save_export .add_item_btn .dot {
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    border-radius: 50%;
}

.switch input { 
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00dbde;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00dbde;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

/* Rounded sliders */
.round {
    border-radius: 34px;
}

.round:before {
    border-radius: 50%;
}

input.warning, select.warning {
    border: 1px solid #ff6e6e;
}

/* Preview Template Modal */
.preview_template {
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    overflow: auto;
}

.main1 {
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px 10px;
    text-align: left;
}

.main1 p,
.main1 span {
    line-height: 24px;
    font-size: 18px
}

.main1 h1 {
    font-size: 26px;
    margin: 30px 0;
    text-align: center;
    color: #000
}

.main1 h2 {
    position: relative;
    font-size: 22px;
    color: #fff;
    background-color: rgb(95, 8, 201);
    line-height: 1.2;
    margin: 0 0 20px 0;
    padding: 10px;
}

.main1 p,
.main1 .product_dec div {
    margin: 0;
    padding: 0 0 20px 0;
    color: #333;
}

.main1 h2:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #5f08c9;
}

.preview_template .btn {
    margin-top: 20px;
    width: 130px;
    background: #00dbde;
    color: white;
    border: none;
}

/* Add Item Modal */
.success_add_item {
    padding: 30px 20px;
    text-align: center;
}

.message {
    font-size: 20px;
    margin-bottom: 20px;
}

.success_add_item button {
    height: 48px;
    border-radius: 24px;
    background: #00dbde;
    border: none;
    outline: none;
    color: white;
}

.success_add_item button svg {
    margin-right: 10px;
}

/* Add EbayInfo Modal */
.ebayinfo_warning {
    padding: 40px 20px;
    text-align: center;
}

.ebayinfo_warning button {
    height: 48px;
    background: #00dbde;
    color: white;
    border: none;
    margin-top: 20px;
}

.ebayinfo_warning button svg {
    margin-right: 10px;
}

@media screen and (max-width: 465px) {
    .save_export button:first-child {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .save_export button {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .input {
        padding: 20px 15px;
    }    

    .result {
        padding: 20px 15px;
    }

    .title_jp textarea {
        width: 100%;
        margin-bottom: 10px;
    }

    .title_jp button {
        margin: 0;
        padding: 15px;
    }

    .title_en textarea {
        width: 100%;
    }

    .item_specific_input input {
        margin-bottom: 10px;
    }

    .condition_desc textarea {
        width: 100%;
    }

    .templates ul {
        width: 100%;
    }

    .control_description button {
        width: 110px;
        padding: 10px;
    }

    .shipping_policy .label {
        width: 100%;
    }

    .return_policy .label {
        width: 100%;
    }

    .payment_policy .label {
        width: 100%;
    }
}
