.content {
    width: 100%;
    margin-top: 20px;
}

.content table {
    margin: 40px auto 0px auto !important;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
    overflow-x: auto;
    /* width: max-content; */
    width: 500px;
    max-width: 100%;
}

.extra {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.extra .profit_attr {
    margin-right: 100px;
}

.extra .search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.extra .search input {
    border: 1px solid #727272;
    margin-right: 10px;
}

.extra .search button {
    height: 40px;
}

.extra .search button svg {
    margin-right: 5px;
}

.content .profit_attr span {
    padding: 10px 5px;
}

.content .warning {
    background: #ff6e6e;
}

.customize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.file {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shipping_fee button {
    margin-right: 10px;
    padding: 5px 8px;
}

.shipping_fee span {
    color: #ff6e6e;
}

.product button {
    margin-right: 10px;
    padding: 5px 8px;
}

.product button:nth-child(2) {
    margin-right: 0px;
}

.product span {
    color: #ff6e6e;
}

.update_control {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.update_control input {
    margin: 0;
}

.update_control span {
    font-size: 14px;
    margin-left: 5px;
}

.update_control .multi_update {
    margin-left: 30px;
}

.update_control .multi_update button {
    padding: 5px 8px;
}

.update_control .update_error {
    margin-left: 10px;
    color: #ff6e6e;
}

.content .profit_attr span:focus {
    outline: 1px solid black;
}

.content .products {
    margin: auto;
    display: block;
    margin-top: 10px;
}

thead th {
    padding: 10px 15px;
    border: 1px solid #d8d8d8;
    background: #fff;
}

tbody td {
    background: #fff;
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
    word-break: break-all;
}

.profit_attr td {
    padding: 10px 15px;
}

.products tbody tr:nth-child(2n) td {
    background-color: #f4f4f4;
}

.products tbody .item_number {
    min-width: 95px;
}

.products tbody .title {
    min-width: 200px;
}

.products tbody .sku {
    min-width: 200px;
}

.products tbody .site {
    min-width: 150px;
}

.products tbody .site a,
.products tbody .ebay a {
    color: black;
}

.products tbody .quantity {
    min-width: 50px;
}

.products tbody .buy_price {
    min-width: 95px;
}

.products tbody .point {
    min-width: 65px;
}

.products tbody .sell_price {
    min-width: 75px;
}

.products tbody .profit {
    min-width: 90px;
}

.products tbody .item_category {
    min-width: 75px;
}

.products tbody .shipping_policy {
    min-width: 140px;
}

.products tbody .edit {
    min-width: 120px;
}

.products tbody .comment {
    min-width: 150px;
}

.edit button {
    padding: 5px 15px;
}

.edit .update {
    margin-bottom: 5px;
}

/* Modal */
.loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #ffffffb0;
}

.loading.active {
    display: block;
}

.loading span {
    position: absolute;
    font-size: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3f3f3f;
}

.dot_spin {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: transparent;
    box-shadow: 0 -18px 0 0 #00dbde, 12.727926px -12.727926px 0 0 #00dbde, 18px 0 0 0 #00dbde, 12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
    animation: dot-spin 1.5s infinite linear;
    }

@keyframes dot-spin {
    0%, 100% {
        box-shadow: 0 -18px 0 0 #00dbde, 12.727926px -12.727926px 0 0 #00dbde, 18px 0 0 0 #00dbde, 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }
    12.5% {
        box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 0 #00dbde, 18px 0 0 0 #00dbde, 12.727926px 12.727926px 0 0 #00dbde, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }
    25% {
        box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #00dbde, 12.727926px 12.727926px 0 0 #00dbde, 0 18px 0 0 #00dbde, -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }
    37.5% {
        box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 0 #00dbde, 0 18px 0 0 #00dbde, -12.727926px 12.727926px 0 0 #00dbde, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }
    50% {
        box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #00dbde, -12.727926px 12.727926px 0 0 #00dbde, -18px 0 0 0 #00dbde, -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }
    62.5% {
        box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 #00dbde, -18px 0 0 0 #00dbde, -12.727926px -12.727926px 0 0 #00dbde;
    }
    75% {
        box-shadow: 0 -18px 0 0 #00dbde, 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #00dbde, -12.727926px -12.727926px 0 0 #00dbde;
    }
    87.5% {
        box-shadow: 0 -18px 0 0 #00dbde, 12.727926px -12.727926px 0 0 #00dbde, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 #00dbde;
    }
}

.ebayinfo_warning {
    padding: 40px 20px;
    text-align: center;
}

.ebayinfo_warning button {
    height: 48px;
    background: #00dbde;
    color: white;
    border: none;
    margin-top: 20px;
}

.ebayinfo_warning button svg {
    margin-right: 10px;
}

.ebayinfo {
    padding: 40px 20px;
    text-align: center;
}

.ebayinfo button {
    width: 100px;
    height: 48px;
    background: #00dbde;
    color: white;
    border: none;
    margin-top: 20px;
}

@media screen and (max-width: 425px) {
    .extra .profit_attr {
        margin-right: 0px;
    }
}
